.page.theme_dark {
  --bg-color: #000028;
  --decor-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #000028;
  --hf-title-color: #db00ff;
  --button-hover: #ff007066;
  --bg-image: url(../images/cover-image-dark.png);
  --hover-decor-color: #ff007066;
}

.theme_dark .header__decor {
  display: block;
}
