.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #353430;
  --decor-color:  #353430;
  --accent-color: #ff8dcb;
  --hf-title-color: #ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
  --decor-color-button: #32312d66;
  --header-decor-visibility: hidden;
}

.theme_light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #353430;
    --decor-color:  #353430;
    --accent-color: #ff8dcb;
    --hf-title-color: #ffc2e6;
    --bg-image: url(../images/cover-image-light.png);
    --decor-color-button: #32312d66;
    --header-decor-visibility: hidden;
  }

  .header__decor {
    display: none;
  }
}